<li
  class="
    quest_list_item list-group-item col-12 bg-dark border border-2 border-light
  "
>
  <div class="ms-2 me-auto">
    <div class="row gap-2">
      <div style="width: 24px; height: 24px" class="placeholder col-2 rounded-circle"></div>

      <div class="col-8 d-flex flex-column gap-2">
        <div class="placeholder w-100"></div>
        <div class="placeholder w-100"></div>
        <div class="placeholder w-25"></div>
      </div>

      <span class="placeholder col-2 rounded-pill" style="height: 20px;"></span>
    </div>
  </div>
</li>
