<ol class="quest_list list-group">
  <% quests.each do |quest| %>
    <li class="quest_list_item list-group-item ">
      <%= link_to quest_path(quest) do %>
        <%= image_tag "icons/scroll_blue.png", size: "24x24", alt: "blue scroll icon" %>
        <div class="ms-2 me-auto">
          <div class="fw-semibold text-info-emphasis">
            <%= quest.title %>
          </div>
          <%= quest.description %>
        </div>
        <% if player.has_completed? quest %>
          <span class="badge text-bg-success rounded-pill">
            completed
          </span>
        <% else %>
          <span class="badge text-bg-warning rounded-pill">
            in-progress
          </span>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ol>
