<% content_for :title, "Quests" %>

<article class="container">
  <h3 class="mb-4 d-flex align-items-center gap-2">
    <%= image_tag "icons/green_flag.png", size: "32x32", alt: "green flag icon" %>
    All Quests
  </h3>

  <section class="mt-4">
    <%= render "quests/quest_list", quests: @quests, player: @player %>
  </section>
</article>
