<% content_for :title, "Quests" %>
<%= render "shared/toast" %>

<article class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="d-flex align-items-center gap-2">
      <%= image_tag "icons/green_flag.png", size: "32x32", alt: "green flag icon" %>
      All Quests
    </h3>

    <% if @player.is_gm? %>
      <div class="flex-shrink-0">
        <%= link_to new_gm_quest_path, class: "btn btn-primary" do %>
          <i class="bi bi-plus-lg"></i>
          Create quest
        <% end %>
      </div>
    <% end %>
  </div>

  <section class="mt-4">
    <%= render "quests/quest_list", quests: @quests, player: @player %>
  </section>
</article>
