<% content_for :title, "Quests" %>

<article>
  <h1 class="mb-4">Your Quests</h1>

  <div>
    <% @quests.each do |quest| %>
      <div class="card quest_card mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= quest.title %></h5>
          <p class="card-text"><%= quest.description %></p>
          <%= link_to "See quest", quest_path(quest), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</article>
