<div class="d-flex gap-2 align-items-center mb-2">
  <%= image_tag "icons/sword.png",
  class: "pixelated",
  size: "24x24",
  alt: "sword icon" %>
  <span>
    <b>Atk:</b>
    <%= player.atk %>
  </span>
</div>
