<div class="d-flex gap-2 align-items-center mb-2">
  <%= image_tag "icons/shield.png",
  class: "pixelated",
  size: "24x24",
  alt: "shield icon" %>
  <span>
    <b>Def:</b>
    <%= player.def %>
  </span>
</div>
