<div class="d-flex align-items-center gap-2">
  <%= image_tag "icons/gold.png", class: "pixelated", size: "24x24", alt: "gold icon" %>
  <span>
    <b>Gold:</b>
    <%= player.gold %>
  </span>
</div>
