<div class="d-flex gap-2 align-items-center mb-2">
  <%= image_tag "icons/muscle.png",
  class: "pixelated",
  size: "24x24",
  alt: "muscle icon" %>
  <span>
    <b>Level:</b>
    <%= player.level %>
  </span>
</div>
