<div
  id="toast-container"
  class="toast-container bottom-0 end-0 p-3 position-fixed"
>
  <% flash.each do |type, msg| %>
    <%= content_tag :div, class: ["toast align-items-center", { 
      "text-bg-success": type.to_sym == :notice, 
      "text-bg-danger": type.to_sym == :alert 
    }],
      role: "alert", 
      aria: { live: "assertive", atomic: "true" },
      data: { controller: "toast" } do %>
      <div class="d-flex">
        <div class="toast-body">
          <%= msg %>
        </div>
        <button
          type="button"
          class="btn-close me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    <% end %>
  <% end %>
</div>
