<article
  class="
    container d-flex justify-content-center align-items-center flex-column
  "
>
  <h1>Boss Fight</h1>

  <section class="mt-4">
    <%= image_tag "mons/mons_1.png",
    class: "pixelated",
    size: "128x128",
    alt: "monster image" %>
  </section>
</article>
