<article class="container">
  <h3 class="mb-4 text-primary">
    <%= image_tag "icons/green_flag.png", size: "32x32", alt: "green flag icon" %>
    <u>Your Quests</u>
  </h3>

  <section class="mt-4">
    <ol class="list-group">
      <% @player.quests.each do |quest| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <%= image_tag "icons/scroll_blue.png", size: "24x24", alt: "blue scroll icon" %>

          <div class="ms-2 me-auto">
            <div class="fw-semibold text-info-emphasis">
              <%= quest.title %>
            </div>
            <%= quest.description %>
          </div>
          <% if @player.has_completed? quest %>
            <span class="badge text-bg-success rounded-pill">
              completed
            </span>
          <% else %>
            <span class="badge text-bg-warning rounded-pill">
              in-progress
            </span>
          <% end %>
        </li>
      <% end %>
    </ol>
  </section>
</article>
