<% content_for :title, "Home right here!" %>

<article class="container">
  <h3 class="mb-4 d-flex align-items-center gap-2">
    <%= image_tag "icons/star.png", size: "32x32", alt: "star icon" %>
    Your Quests
  </h3>

  <section class="mt-4">
    <ol class="quest_list list-group">
      <% @player.quests.each do |quest| %>
        <%= turbo_frame_tag quest, loading: :lazy, src: compact_quest_path(quest) do %>
          <%= render "quests/placeholder" %>
        <% end %>
      <% end %>
    </ol>
  </section>
</article>
