<% content_for :title, "Home right here!" %>

<article class="container">
  <h3 class="mb-4 d-flex align-items-center gap-2">
    <%= image_tag "icons/star.png", size: "32x32", alt: "star icon" %>
    Your Quests
  </h3>

  <section class="mt-4">
    <%= render "quests/quest_list", quests: @player.quests, player: @player %>
  </section>
</article>
